<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Apartment</title>
</head>
<body>
<div class="container">
    <h2 class="title">Edit Apartment</h2>

    <form th:action="@{''}" th:object="${apartment_details}" action="#" method="post">
        <div class="apt-details">
            <div class="input-box">
                <input type="text" th:field="*{address}" id="address" placeholder="Address" th:value="*{address}"/>
            </div>
            <div class="input-box">
                <input type="number" th:field="*{buildYear}" id="buildYear" placeholder="Build Year"/>
            </div>
            <div class="input-box">
                <input type="number" th:field="*{price}" id="price" placeholder="Price"/>
            </div>
            <div class="input-box">
                <input type="number" th:field="*{floor}" id="floor" placeholder="Floor"/>
            </div>
            <div class="input-box">
                <input type="number" th:field="*{area}" id="area" placeholder="Area"/>
            </div>
            <div class="input-box">
                <input type="number" th:field="*{quantityOfRooms}" id="quantityOfRooms"
                       placeholder="Quantity Of Rooms"/>
            </div>
            <div th:object="${apartment_description}">
                <div class="input-box">
                    <input type="text" th:field="*{condition}" id="condition" placeholder="Condition"/>
                </div>
                <select name="buildingType">
                    <option th:each="buildingTypeOpt : ${T(com.example.apartmentsforrent.persistence.model.BuildingType).values()}"
                            th:value="${buildingTypeOpt}" th:text="${buildingTypeOpt.displayValue}"
                            th:selected="${buildingTypeOpt} == *{buildingType}"></option>
                </select>
                <div class="input-box">
                    <input type="text" th:field="*{additionalInfo}" id="additionalInfo" placeholder="Additional Info"/>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>