<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{register.title}">Sign up</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
<div class="main">
    <div class="container-fluid">
        <div class="block">
            <div class="block-wrap">
                <h2>Do great things</h2>
                <p class="main__subtitle" >Your apartment</p>

                <form th:action="@{/signup}" th:object="${owner}" method="post">
                    <input type="text" class="main__input__email" th:field="*{name}"  placeholder="Name" required>
                    <input type="text" class="main__input__email" th:field="*{surname}"  placeholder="Surname" required>
                    <input type="email" class="main__input__email" th:field="*{email}"  placeholder="Email" required>
                    <input type="text" class="main__input__email" th:field="*{phone}"  placeholder="Phone" required>
                    <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error-email-text" >Global error</div>
                    <input type="password" class="main__password" th:field="*{password}" th:placeholder="Password" minlength="6" required >
                    <button type="submit" id="register-button" >Sign up</button>
                </form>

                <p class="register">Signing up you apply with rules</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
