<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/styles/signin.css">
</head>
<body>
<div class="main">
    <div class="container-fluid">
        <div class="block">
            <div class="block-wrap">
                <h2>Sign in</h2>
                <p class="main__subtitle" th:text="${param.error} ? 'Check your credentials' : 'Fields are case sensitive'"></p>

                <form th:action="@{/signin}" method="post">
                    <input type="email" class="main__input__email input" name="username" placeholder="Email"
                           required>
                    <input type="password" class="main__password input" name="password" placeholder="Password"
                           minlength="6" required>
                    <div th:if="${param.error}" class="error-email-text">Invalid credentials</div>
                    <div class="remember-me">
                        <input type="checkbox" id="remember" value="true" name="remember-me">
                        <label for="remember">Remember me</label>
                    </div>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
