@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

.main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("/images/registerBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.block {
  border-radius: 5px;
  background-color: #ffffff;
  height: 530px;
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px -1px 31px 0px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px -1px 31px 0px rgba(34, 60, 80, 0.13);
  box-shadow: 0px -1px 31px 0px rgba(34, 60, 80, 0.13); }
  .block .block-wrap {
    padding-top: 50px;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    background-color: white; }
    .block .block-wrap h2 {
      font-family: "Inter";
      font-size: 40px; }
    .block .block-wrap .main__subtitle {
      font-size: 18px;
      color: #888888;
      font-family: "Inter";
      margin-top: 15px; }
    .block .block-wrap input {
      width: 383px;
      margin-top: 25px;
      border: 1px solid #e3e5e6;
      font-size: 18px;
      padding: 16px 0 16px 16px;
      border-radius: 5px; }
      .block .block-wrap input:focus {
        border-color: #c0c0c0;
        outline: 0px; }
      .block .block-wrap input::placeholder {
        color: #b9b9b9; }
    .block .block-wrap .main__input__email {
      margin-top: 40px; }
    .block .block-wrap button {
      cursor: pointer;
      width: 100%;
      margin-top: 40px;
      height: 56px;
      border: none;
      border-radius: 5px;
      background-color: #3B88FF;
      color: white;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 16px;
      transition: background 0.2s linear; }
      .block .block-wrap button:hover {
        background-color: #367de7; }
    .block .block-wrap .register {
      font-size: 14px;
      text-align: center;
      font-family: "Inter", sans-serif;
      color: #888888;
      margin-top: 30px;
      line-height: 20px; }
.error-email-text {
    font-family: "Inter", sans-serif;
    color: red;
    font-size: 14px;
    margin-top: 15px;
 }
